<h1>Anime API Form</h1>

<h3>Steps to Run</h3>

<ol>
    <li>Click on the <strong>Authenticate</strong> link below the form to authenticate with the API.</li>
    <li>The above step will open myanimelist.net page. Click on the Allow button to authenticate.</li>
    <li>Now, the URL will contain the auth code. Copy the value of <strong>code</strong> query paramater from the URL and paste it to the <strong>Auth Code</strong> input field. </li>
</ol>

<form method="post">
    <label for="auth_code">Auth Code:</label> <br>
    <input type="text" id="auth_code" name="authCode">

    <button type="submit">Submit</button>
</form>